In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date

In [2]:
Base = declarative_base()

In [3]:
WNV_df = pd.read_csv("cleaned_westnile_dataset.csv")
WNV_df.head()

,State,Cases_2010,Cases_2011,Cases_2012,Cases_2013,Cases_2014,Cases_2015,Cases_2016,Cases_2017,Rate_2010,Rate_2011,Rate_2012,Rate_2013,Rate_2014,Rate_2015,Rate_2016,Rate_2017,TotalByState
0,ALABAMA,2.0,0.0,7.0,0.0,2.0,5.0,9.0,26.0,0.000648,0.000000,0.002267,0.000000,0.000648,0.001619,0.002915,0.008421,51.016518
1,ALASKA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,ARIZONA,58.0,20.0,10.0,2.0,24.0,35.0,19.0,18.0,0.018786,0.006478,0.003239,0.000648,0.007773,0.011336,0.006154,0.005830,186.060244
3,ARKANSAS,1.0,0.0,2.0,0.0,2.0,2.0,3.0,3.0,0.000324,0.000000,0.000648,0.000000,0.000648,0.000648,0.000972,0.000972,13.004211
4,CALIFORNIA,38.0,45.0,135.0,6.0,251.0,186.0,89.0,133.0,0.012308,0.014575,0.043725,0.001943,0.081297,0.060244,0.028826,0.043078,883.285996

In [4]:
class Disease_Data(Base):
    __tablename__ = "disease_data"
    id=Column(Integer, primary_key=True)
    State=Column(String)
    Cases_2010=Column(Integer)
    Cases_2011=Column(Integer)
    Cases_2012=Column(Integer)
    Cases_2013=Column(Integer)
    Cases_2014=Column(Integer)
    Cases_2015=Column(Integer)
    Cases_2016=Column(Integer)
    Cases_2017=Column(Integer)
    Rate_2010=Column(Float)
    Rate_2011=Column(Float)
    Rate_2012=Column(Float)
    Rate_2013=Column(Float)
    Rate_2014=Column(Float)
    Rate_2015=Column(Float)
    Rate_2016=Column(Float)
    Rate_2017=Column(Float)
    TotalByState=Column(Float)

In [5]:
engine = create_engine('sqlite:///westnile_1.sqlite')

In [6]:
Base.metadata.create_all(engine)

In [7]:
WNV_df.to_sql("disease_data", engine, if_exists='append', index=False)